body {
    font-family: 'Baloo Bhai', cursive;
    color: #314059;
    background: linear-gradient(to bottom right, #f2ec3e, #cec929) no-repeat center center fixed;
}

.push {
    height: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #314059;
    color: #f2ec3e;
    text-align: center;
    height: 60px;
    line-height: 60px;
 }