body {
    /* background-color: #f2ec3e; */
    font-family: 'Baloo Bhai', cursive;
    color: #314059;
    background: linear-gradient(to bottom right, #f2ec3e, #cec929) no-repeat center center fixed;
}